<div class="row justify-content-center">
    <div class="col-10">
        <form class="catalog-search-form">
            <div class="mb-3">
                <div class="form-group">
                    <label for="firearmType">Firearm Type:</label>
                    <select class="form-select form-select-lg mb-3" id="firearmType" aria-label=".form-select-lg example">
                        <option selected>select a firearm type..</option>
                        <option>Rifle</option>
                        <option>Semi-Auto Pistol</option>
                        <option>Shotgun</option>
                        <option>Revolver</option>
                        <option>Specialty Handgun</option>
                        <option>Muzzleloader</option>
                        <option>Combo</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label for="firearmAction">Firearm Action:</label>
                    <select class="form-select form-select-lg mb-3" id="firearmAction" aria-label=".form-select-lg example">
                        <option selected>select a firearm action..</option>
                        <option>Single Action</option>
                        <option>Lever Action</option>
                        <option>Single Shot</option>
                        <option>Pump Action</option>
                        <option>Bolt Action</option>
                        <option>Semi-Auto</option>
                        <option>Over | Under</option>
                        <option>Double Action Only</option>
                        <option>Double | Single Action</option>
                        <option>Striker Fired</option>
                        <option>Safe Action</option>
                        <option>Side By Side</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                 <div class="form-group">
                    <label for="firearmCaliber">Firearm Caliber/Gauge:</label>
                    <select class="form-select form-select-lg mb-3" id="firearmCaliber" aria-label=".form-select-lg example">
                        <option selected>select a firearm caliber/gauge..</option>
                        <option>380 ACP</option>
                        <option>44-40</option>
                        <option>45 Colt</option>
                        <option>44 Magnum | 44 Special</option>
                        <option>38-55 Win</option>
                        <option>357 Magnum | 38 Special</option>
                        <option>45-70 GOVT</option>
                        <option>45-90</option>
                        <option>44 Magnum</option>
                        <option>30-30</option>
                        <option>12 Gauge</option>
                        <option>20 Gauge</option>
                        <option>22-250</option>
                        <option>300 WSM</option>
                        <option>22 LR</option>
                        <option>240 WBY Mag</option>
                        <option>223 Rem</option>
                        <option>405 Win</option>
                        <option>30-06</option>
                        <option>17 WSM</option>
                        <option>264 Win</option>
                        <option>7mm Rem Mag</option>
                        <option>300 Win Mag</option>
                        <option>6.5 Creedmoor</option>
                        <option>270 Win</option>
                        <option>7mm-08</option>
                        <option>308 Win</option>
                        <option>243 Win</option>
                        <option>25-06</option>
                        <option>257 WBY Mag</option>
                        <option>300 WBY Mag</option>
                        <option>270 WSM</option>
                        <option>22 Magnum</option>
                        <option>17 HMR</option>
                        <option>28 Nosler</option>
                        <option>6.8 Western</option>
                        <option>280 ACKLY</option>
                        <option>6.5 PRC</option>
                        <option>300 PRC</option>
                        <option>7.62 x 39mm</option>
                        <option>22 Hornet</option>
                        <option>222 Rem</option>
                        <option>6mm Creedmoor</option>
                        <option>6.5 x 55mm</option>
                        <option>223 Rem | 5.56 NATO</option>
                        <option>45 ACP</option>
                        <option>9mm</option>
                        <option>7.62 x 51mm | 308 Win</option>
                        <option>5.45 x 39mm</option>
                        <option>30-40 Krag</option>
                        <option>38 Special</option>
                    </select>
                </div>
            </div>
            <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="row justify-content-center">
        {{#each firearm as |firearm| }}
        <div class="card m-2" style="width: 18rem;">
            <img src="https://www.lipseyscloud.com/images/{{firearm.IMAGENAME}}" class="card-img-top" alt="firearm photo">
            <div class="card-body">
                <h5 class="card-title">{{firearm.MANUFACTURER}} {{firearm.MODEL}}</h5>
                <p class="card-text"><strong>Manufacturer Model Number: </strong>{{firearm.MANUFACTURERMODELNO}}</p>
                <a href="/catalog/{{firearm.ITEMNO}}" class="card-link">View this firearm</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Caliber: </strong>{{firearm.CALIBERGAUGE}}</li>
                <li class="list-group-item"><strong>Type: </strong>{{firearm.TYPE}}</li>
                <li class="list-group-item"><strong>Action: </strong>{{firearm.ACTION}}</li>
                <li class="list-group-item"><strong>Barrel Length: </strong>{{firearm.BARRELLENGTH}}</li>
            </ul>
        </div>
        {{/each}}
</div>


<script src="/js/catalog.js"></script>
