
  <div class="row justify-content-center">
    <div class="card" style= "width: 22rem">
      <img src="./images/safe.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">mySafe</h5>
        <p class="card-text">{{user.username}}'s Safe</p>
      </div>
      <ul class="list-group list-group-flush">

      <h4>My Inventory</h4>
        {{#if user.personals.length}}
          {{#each user.personals as |personal| }}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#firearmModal{{personal.id}}">
          {{personal.manufacturer}} {{personal.model}}
        </button>

<!-- Modal -->
<div class="modal fade" id="firearmModal{{personal.id}}" tabindex="-1" aria-labelledby="firearmModal{{personal.id}}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="firearmModal{{personal.id}}Label">{{personal.manufacturer}} {{personal.model}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Serial Number: </strong>{{personal.serial_number}}</p>
        <p><strong>Caliber: </strong>{{personal.caliber}}</p>
        <p><strong>Barrel Length: </strong>{{personal.barrel_len}}</p>
        <p><strong>Action: </strong>{{personal.action}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
      </div>
    </div>
  </div>
</div>

        {{/each}}
        {{else}}
        <div>
          <h3>You don't have any firearms in your safe.</h3>
        </div>
        {{/if}}
      
  
        
        
        </li>
        <li class="list-group-item"><a class="btn btn-primary fs-5" href="/catalog" role="button">Gun Catalog</a></li>
        <li class="list-group-item"><a class="btn btn-primary fs-5" href="/addinventory" role="button" id="addInventory">Add Inventory</a></li>
        <li class="list-group-item"><a class="btn btn-primary fs-5" href="/modinventory" role="button" id="modInventory">Modify Inventory</a></li>
      </ul>
   </div>
  </div>

<script src="/js/mysafe.js"></script>
{{!-- 
          <p><strong>Serial Number: </strong>{{personal.serial_number}}</p>
                <p><strong>Caliber: </strong>{{personal.caliber}}</p>
                <p><strong>Barrel Length: </strong>{{personal.barrel_len}}</p>
                <p><strong>Action: </strong>{{personal.action}}</p>

                {{#if user.personals.length}}
      {{#each user.personals as |personal| }} --}}
